// .owl-theme .owl-nav [class*='owl-']:hover {
//     background: #555; /* linear-gradient(45deg, black, transparent); */
//     color: greenyellow;
// }

// .owl-theme .owl-dots .owl-dot.active span,
// .owl-theme .owl-dots .owl-dot:hover span {
//     background: #555;
// }

// .owl-theme .owl-dots .owl-dot span {
//     width: 20px;
//     height: 20px;
// }

// .owl-theme .owl-dots .owl-dot span{
//     background: var(--secondary-color);
//     opacity: 0.5;    
// }

// .owl-theme .owl-dots .owl-dot.active span,
// .owl-theme .owl-dots .owl-dot:hover span {
//     background: var(--secondary-color);
//     opacity: 1;
// }

// to do :
// prev and next buttons under the background when this one moves

.owl-carousel {
    position: relative;
    & .owl-item {
        & .item {
            background-color: #fff;
            background-size: cover;
            width: 90%;
            height: 400px;
            background-repeat: no-repeat;
            margin: 0 auto;
            margin-top: 3.5rem;
            border-radius: 5px;
        }
        &:nth-child(1) > .item  {
            background-image: url('../img/home/random/snake.jpg');
        }
        &:nth-child(2) > .item  {
            background-image: url('../img/home/random/turtle.jpg');
        }
        &:nth-child(3) > .item  {
            background-image: url('../img/home/random/gecko_2.webp');
        }
        &:nth-child(4) > .item  {
            background-image: url('../img/home/random/pogona_2.jpg');
        }
        &:nth-child(5) > .item {
            background-image: url('../img/home/random/pogona.jpg');
        }
        &:nth-child(6) > .item  {
            background-image: url('../img/home/random/snake_2.jpg');
        }
        &:nth-child(7) > .item  {
            background-image: url('../img/home/random/pogona_3.png');
        }
        &:nth-child(8) > .item  {
            background-image: url('../img/home/random/gecko.jpg');
        }
        &:nth-child(9) > .item  {
            background-image: url('../img/home/random/snake.jpg');
        }
        &:nth-child(10) > .item  {
            background-image: url('../img/home/random/turtle.jpg');
        }
        &:nth-child(11) > .item  {
            background-image: url('../img/home/random/gecko_2.webp');
        }
        &:nth-child(12) > .item  {
            background-image: url('../img/home/random/pogona_2.jpg');
        }
        &:nth-child(13) > .item {
            background-image: url('../img/home/random/pogona.jpg');
        }
        &:nth-child(14) > .item  {
            background-image: url('../img/home/random/snake_2.jpg');
        }
        &:nth-child(15) > .item  {
            background-image: url('../img/home/random/pogona_3.png');
        }
        &:nth-child(16) > .item  {
            background-image: url('../img/home/random/gecko.jpg');
        }
    }
    & .owl-nav {
        & > button[class^="owl-"] {
            position: absolute;
            top: 40%;
            font-size: 7rem;
            margin: 0;
            padding-bottom: 0.5rem !important;;
            color: var(--secondary-color);
            opacity: 0.5;
            background: none;
            &:hover {
                background: none;
                color: var(--secondary-color);
                opacity: 0.8;
            }
        }
        & .owl-prev {
            left: 1%;
        }
        & .owl-next {
            right: 1%;
        }
    }
}