@charset "UTF-8";
body {
  margin: 0;
}

body {
  font-family: "Cabin", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Acme", sans-serif;
}

body {
  max-width: 1536px;
  margin: 0 auto;
}

body {
  --primary-color: #fff;
  --secondary-color: #000;
  --tertiary-color: green;
  --quaternary-color: #FAFAC4;
  --quinary-color: #96dcfa;
  --theme-background-color: #FAFAC4;
  --theme-border-color: #000;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

body.dark-theme {
  --primary-color: #000;
  --secondary-color: #fff;
  --tertiary-color: yellowgreen;
  --quaternary-color: yellowgreen;
  --quinary-color: #96dcfafa;
  --theme-background-color: #000;
  --theme-border-color: #fafac4ca;
  --shadow-color: rgba(154, 205, 50, 0.5);
}

body {
  background-color: var(--primary-color);
}

h2,
h3 {
  color: var(--secondary-color);
}

p,
q {
  color: var(--secondary-color);
}

.main {
  max-width: 1280px;
  margin: 0 auto;
}

.owl-carousel {
  position: relative;
}
.owl-carousel .owl-item .item {
  background-color: #fff;
  background-size: cover;
  width: 90%;
  height: 400px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 3.5rem;
  border-radius: 5px;
}
.owl-carousel .owl-item:nth-child(1) > .item {
  background-image: url("../img/home/random/snake.jpg");
}
.owl-carousel .owl-item:nth-child(2) > .item {
  background-image: url("../img/home/random/turtle.jpg");
}
.owl-carousel .owl-item:nth-child(3) > .item {
  background-image: url("../img/home/random/gecko_2.webp");
}
.owl-carousel .owl-item:nth-child(4) > .item {
  background-image: url("../img/home/random/pogona_2.jpg");
}
.owl-carousel .owl-item:nth-child(5) > .item {
  background-image: url("../img/home/random/pogona.jpg");
}
.owl-carousel .owl-item:nth-child(6) > .item {
  background-image: url("../img/home/random/snake_2.jpg");
}
.owl-carousel .owl-item:nth-child(7) > .item {
  background-image: url("../img/home/random/pogona_3.png");
}
.owl-carousel .owl-item:nth-child(8) > .item {
  background-image: url("../img/home/random/gecko.jpg");
}
.owl-carousel .owl-item:nth-child(9) > .item {
  background-image: url("../img/home/random/snake.jpg");
}
.owl-carousel .owl-item:nth-child(10) > .item {
  background-image: url("../img/home/random/turtle.jpg");
}
.owl-carousel .owl-item:nth-child(11) > .item {
  background-image: url("../img/home/random/gecko_2.webp");
}
.owl-carousel .owl-item:nth-child(12) > .item {
  background-image: url("../img/home/random/pogona_2.jpg");
}
.owl-carousel .owl-item:nth-child(13) > .item {
  background-image: url("../img/home/random/pogona.jpg");
}
.owl-carousel .owl-item:nth-child(14) > .item {
  background-image: url("../img/home/random/snake_2.jpg");
}
.owl-carousel .owl-item:nth-child(15) > .item {
  background-image: url("../img/home/random/pogona_3.png");
}
.owl-carousel .owl-item:nth-child(16) > .item {
  background-image: url("../img/home/random/gecko.jpg");
}
.owl-carousel .owl-nav > button[class^=owl-] {
  position: absolute;
  top: 40%;
  font-size: 7rem;
  margin: 0;
  padding-bottom: 0.5rem !important;
  color: var(--secondary-color);
  opacity: 0.5;
  background: none;
}
.owl-carousel .owl-nav > button[class^=owl-]:hover {
  background: none;
  color: var(--secondary-color);
  opacity: 0.8;
}
.owl-carousel .owl-nav .owl-prev {
  left: 1%;
}
.owl-carousel .owl-nav .owl-next {
  right: 1%;
}

.pswp--custom-icon-colors {
  --pswp-icon-color: #FAFAC4;
  --pswp-icon-color-secondary: #000;
}

.pswp--custom-bg {
  --pswp-bg: #000;
}

.pswp-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.pswp-gallery > .item {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 1rem auto;
}
.pswp-gallery > .item img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.badge {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 100ms linear;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.badge > p {
  margin: 0;
  color: #FFF;
  font-style: italic;
  font-weight: 400;
  line-height: 1rem;
}

.badge--hidden {
  opacity: 0;
}

.pswp__custom-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  text-align: center;
  height: 4rem;
  line-height: 4rem;
}

.pswp__custom-caption a {
  color: #fff;
  text-decoration: underline;
}

.hidden-caption-content {
  display: none;
}

.pswp__counter {
  font-size: 2rem;
}

.header__theme-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--theme-border-color);
  border: 0.25rem solid var(--theme-border-color);
  border-radius: 5px;
}
.header__theme-container__content {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--theme-background-color);
  color: var(--quaternary-color);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.4rem;
}
.header__theme-container__content > p {
  display: inline-block;
  margin: 0;
  margin-right: 0.25rem;
  padding: 0 0.25rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: var(--secondary-color);
}
.header__theme-container__content > button {
  width: 80px;
  font-weight: bold;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  padding-top: 0.1rem;
}
.header__theme-container__content > button:last-child {
  margin-left: 0.4rem;
}
.header__theme-container__content > .is-active {
  background-color: var(--quinary-color);
}
.header__logo-container {
  text-align: center;
  margin-top: 1rem;
}
.header__logo-container__logo {
  width: 200px;
}
.header__logo-container__title {
  margin: 0.5rem auto 1rem auto;
  font-size: 3rem;
  color: var(--secondary-color);
}
.header__logo-container__citation {
  quotes: "“" "”";
  font-size: 1.3rem;
}

.footer {
  max-width: 1280px;
  margin: 3rem auto;
  padding-top: 2rem;
}
.footer__separator {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 60%;
  height: 2px;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
.footer__article-container {
  display: inline-block;
  width: 45%;
  padding-left: 5%;
}
.footer__article-container ul {
  list-style-type: "🐢";
  padding: 0;
}
.footer__article-container ul > li:nth-child(odd) > a {
  color: var(--tertiary-color);
}
.footer__article-container ul > li > a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1.2rem;
}
.footer__article-container ul > li > a:hover {
  text-decoration: underline;
}
.footer__article-container ul > li > p {
  font-style: italic;
}
.footer__contact-container {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  text-align: center;
}
.footer__contact-container__social-network-container__flexbox {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  gap: 2rem;
}
.footer__contact-container__social-network-container__flexbox__item a:first-child {
  display: block;
  padding: 1rem;
}
.footer__contact-container__social-network-container__flexbox__item a:last-child {
  display: block;
  text-decoration: none;
  text-align: center;
}
.footer__contact-container__social-network-container__flexbox__item a:last-child:hover {
  font-weight: bold;
}
.footer__contact-container__address-container {
  margin: 2rem auto;
}
.footer__contact-container__address-container a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5rem auto;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  font-style: normal;
  width: fit-content;
}
.footer__contact-container__address-container a:hover {
  text-decoration: underline;
}
.footer__contact-container__join-us-container > p {
  font-weight: bold;
}
.footer__contact-container__join-us-container__button {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 1rem;
  border: 3px solid var(--tertiary-color);
  border-radius: 25px;
  padding: 0.5rem 7rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-weight: bold;
}
.footer__contact-container__join-us-container__button:hover {
  border-color: var(--secondary-color);
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  opacity: 0.9;
}

.social-link-font {
  text-decoration: none;
  font-size: 1.2rem;
}
.social-link-font:hover {
  font-weight: bold;
}

.facebook-color {
  color: #4267B2;
}

.instagram-color {
  background: linear-gradient(to right, #833AB4, #C13584, #E1306C);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.youtube-color {
  color: rgba(255, 0, 0, 0.85);
}

.newsletter-anchor {
  text-decoration: none;
  font-weight: bold;
  color: var(--tertiary-color);
}
.newsletter-anchor:hover {
  text-decoration: underline;
}

.nav-menu {
  margin-top: 3rem;
  margin-bottom: 2rem;
  box-shadow: 0 5px 10px var(--shadow-color);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  z-index: 1000;
  padding: 0.4rem 0;
}
.nav-menu__menu {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0;
  list-style-type: none;
}
.nav-menu__menu > li {
  padding: 0.4rem;
}
.nav-menu__menu > li > a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.4rem;
  padding-bottom: 0.1rem;
}
.nav-menu__menu > li > a:hover {
  color: var(--tertiary-color);
}

.main h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.main h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.main p {
  text-align: justify;
}
.main article {
  width: 94%;
  margin: 0 auto;
}
.main__presentation-article__history-section {
  margin-bottom: 3.5rem;
}
.main__presentation-article__history-section__event-background {
  background-image: url("../img/home/event.webp");
  background-size: cover;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 5px;
}
.main__presentation-article__actions-section__cameleon-background {
  background-image: url("../img/home/cameleon.webp");
  background-size: contain;
  width: 540px;
  height: 540px;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 5px;
  float: left;
  margin-right: 2%;
}
.main__presentation-article__actions-section > p:nth-child(3) {
  font-weight: bold;
}
.main__adoption-article {
  margin-top: 3rem;
}
.main__adoption-article__snake-section, .main__adoption-article__turtle-section, .main__adoption-article__lizard-section, .main__adoption-article__other-section, .main__adoption-article__event-section, .main__adoption-article__about-section {
  margin-bottom: 4rem;
}
.main__adoption-article__snake-section__container > a, .main__adoption-article__turtle-section__container > a, .main__adoption-article__lizard-section__container > a, .main__adoption-article__other-section__container > a, .main__adoption-article__event-section__container > a, .main__adoption-article__about-section__container > a {
  text-decoration: none;
  display: block;
  margin: 2rem auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  border: 3px solid var(--secondary-color);
  border-radius: 25px;
  width: 40%;
  text-align: center;
}
.main__adoption-article__snake-section__container > a:hover, .main__adoption-article__turtle-section__container > a:hover, .main__adoption-article__lizard-section__container > a:hover, .main__adoption-article__other-section__container > a:hover, .main__adoption-article__event-section__container > a:hover, .main__adoption-article__about-section__container > a:hover {
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  opacity: 0.8;
}
.main__adoption-article__snake-section__container__flexbox, .main__adoption-article__turtle-section__container__flexbox, .main__adoption-article__lizard-section__container__flexbox, .main__adoption-article__other-section__container__flexbox, .main__adoption-article__event-section__container__flexbox, .main__adoption-article__about-section__container__flexbox {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
.main__adoption-article__snake-section__container__flexbox > img, .main__adoption-article__turtle-section__container__flexbox > img, .main__adoption-article__lizard-section__container__flexbox > img, .main__adoption-article__other-section__container__flexbox > img, .main__adoption-article__event-section__container__flexbox > img, .main__adoption-article__about-section__container__flexbox > img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin: 1rem auto;
}
.main__about-article__section > a {
  text-decoration: none;
  display: block;
  margin: 2rem auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  border: 3px solid var(--secondary-color);
  border-radius: 25px;
  width: 40%;
  text-align: center;
}
.main__about-article__section > a:hover {
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  opacity: 0.8;
}

.green {
  color: var(--tertiary-color);
}

.bold {
  font-weight: bold;
}

.leetchi-kitty {
  font-size: 1.1rem;
  color: var(--tertiary-color);
}
.leetchi-kitty:hover {
  font-weight: bold;
}

.clear-float {
  clear: both;
}

.main__species-list {
  padding: 0;
  list-style-type: none;
  margin-left: 1rem;
}
.main__species-list__specie {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  margin: 1rem 0;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  color: var(--secondary-color);
  font-weight: bold;
  padding: 1rem;
}
.main__species-list__specie:hover {
  background-color: var(--quaternary-color);
  color: var(--quinary-color);
}

.main__specie > img {
  max-width: -webkit-fill-available;
}/*# sourceMappingURL=style.css.map */