body {
    --primary-color: #fff;
    --secondary-color: #000;
    --tertiary-color: green;
    --quaternary-color: #FAFAC4;
    --quinary-color: #96dcfa;

    --theme-background-color: #FAFAC4;
    --theme-border-color: #000;
    
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body.dark-theme {
    --primary-color: #000;
    --secondary-color: #fff;
    --tertiary-color: yellowgreen;
    --quaternary-color: yellowgreen;
    --quinary-color: #96dcfafa;

    --theme-background-color: #000;
    --theme-border-color: #fafac4ca;

    --shadow-color: rgba(154, 205, 50, 0.5);
}

body {
    background-color: var(--primary-color);
}

h2,
h3 {
    color: var(--secondary-color);
}

p,
q {
    color: var(--secondary-color);
}

.header {
    &__theme-container {
        position: sticky;
        top: 0;
        margin: 0;
        margin-top: 1rem;
        width: fit-content;
        background-color: var(--theme-border-color);
        border: 0.5rem solid var(--theme-border-color);
        border-left: none;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        &__content {
            display: flex;
            width: fit-content;
            background-color: var(--theme-background-color);
            color: var(--quaternary-color);
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            padding: 0.4rem;
            & > p {
                display: inline-block;
                margin: 0;
                margin-right: 0.25rem;
                padding: 0 0.25rem;
                line-height: 1.5rem;
                font-weight: bold;
                color: var(--secondary-color);
            }
            & > button {
                width: 80px;
                font-weight: bold;
                cursor: pointer;
                color: var(--secondary-color);
                background-color: var(--primary-color);
                border: 2px solid var(--secondary-color);
                border-radius: 5px;
                padding-top: 0.1rem;
                &:last-child {
                    margin-left: 0.4rem;
                }
            }
            & > .is-active {
                background-color: var(--quinary-color);
                // opacity: 0.95;
            }
        }
    }
    &__logo-container {
        text-align: center;
        margin-top: 1rem;
        &__logo {
            width: 200px;
        }
        &__title {
            margin: 0.5rem auto 1rem auto;
            font-size: 3rem;
            color: var(--secondary-color);
        }
        &__citation {
            quotes: "“" "”";
            font-size: 1.3rem;
        }
    }
}

.nav-menu {
    margin-top: 3rem;
    margin-bottom: 2rem;
    box-shadow: 0 5px 10px var(--shadow-color);
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    z-index: 1000;
    padding: 0.4rem 0;
    &__menu {
        display: flex;
        justify-content: space-between;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 0;
        list-style-type: none;
        & > li {
            padding: 0.4rem;
            & > a {
                text-decoration: none;
                color: var(--secondary-color);
                font-size: 1.1rem;
                font-weight: bold;
                padding: 0.4rem;
                padding-bottom: 0.1rem;
                &:hover {
                    color: var(--tertiary-color);
                }
            }
        }
    }
}

#random-background {
    // background-image: url('../img/home/random/pogona.jpg');
    background-color: #fff;
    background-size: cover;
    width: 94%;
    height: 400px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 3.5rem;
    border-radius: 5px;
}

.main {
    width: 94%;
    margin: 0 auto;
    & h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
    & h3 {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    & p {
        text-align: justify;
    }
    &__presentation-article {
        &__history-section {
            margin-bottom: 3.5rem;
            &__event-background {
                background-image: url('../img/home/event.webp');
                background-size: cover;
                width: 100%;
                height: 400px;
                background-repeat: no-repeat;
                margin: 0 auto;
                border-radius: 5px;
            }
        }
        &__actions-section {
            &__cameleon-background {
                background-image: url('../img/home/cameleon.webp');
                background-size: contain;
                width: 540px;
                height: 540px;
                background-repeat: no-repeat;
                margin: 0 auto;
                border-radius: 5px;
                float: left;
                margin-right: 2%;
            }
            & > p {
                &:nth-child(3) {
                    font-weight: bold;
                }
            }
        }
    }
    &__adoption-article {
        margin-top: 3rem;
        &__snake-section,
        &__turtle-section,
        &__lizard-section,
        &__other-section,
        &__event-section {
            margin-bottom: 4rem;
            &__container {
                & > a {
                    text-decoration: none;
                    display: block;
                    margin: 2rem auto;
                    width: fit-content;
                    padding: 1rem;
                    font-size: 1.4rem;
                    font-weight: bold;
                    color: var(--tertiary-color);
                    background-color: var(--primary-color);
                    border: 3px solid var(--secondary-color);
                    border-radius: 25px;
                    width: 40%;
                    text-align: center;
                    &:hover {
                        cursor: pointer;
                        color: var(--primary-color);
                        background-color: var(--tertiary-color);
                        opacity: 0.8;
                    }
                }
                &__flexbox {
                    justify-content: space-around;
                    display: flex;
                    flex-wrap: wrap;
                    & > .owl-carousel {
                        & figure {
                            margin: 0;
                            & > img {
                                height: 300px;
                                object-fit: cover;
                                border-top-left-radius: 5px;
                                border-top-right-radius: 5px;
                            }
                            & > figcaption {
                                background-color: var(--secondary-color);
                                color: var(--primary-color);
                                font-style: italic;
                                font-weight: 400;
                                padding: 1rem;
                                text-align: center;
                                border-bottom-left-radius: 5px;
                                border-bottom-right-radius: 5px;
                            }
                        }
                    }
                    & > .pswp-gallery {
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        & > .item {
                            position: relative;
                            width: 30%;
                            height: 300px;
                            & img {
                                width: 100%;
                                height: 300px;
                                object-fit: cover;
                                border-radius: 5px;
                            }
                        }
                    }
                    & > img {
                        width: 30%;
                        height: 300px;
                        object-fit: cover;
                        border-radius: 5px;
                        margin: 1rem auto;
                    }
                }
            }

        }
        &__about-article {
        }
    }
}

.footer {
    &__separator {
        margin: 0 auto;
        margin-bottom: 2rem;
        width: 98%;
        height: 2px;
        background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    }
    margin: 3rem auto;
    padding-top: 2rem;
    &__article-container {
        display: inline-block;
        width: 45%;
        padding-left: 5%;
        & ul {
            list-style-type: "\01F422";
            padding: 0;
            & > li {
                &:nth-child(odd) > a {
                    color: var(--tertiary-color);
                }
                & > a {
                    text-decoration: none;
                    color: var(--secondary-color);
                    font-weight: bold;
                    font-size: 1.2rem;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                & > p {
                    font-style: italic;
                }
            }
        }
    }
    &__right-block {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        text-align: center;
        &__contact-container {
            &__social-network-container {
                &__flexbox {
                    display: flex;
                    width: fit-content;
                    margin: 0 auto;
                    gap: 2rem;
                    &__item {
                        & a:first-child {
                            display: block;
                            padding: 1rem;
                        }
                        & a:last-child {
                            display: block;
                            text-decoration: none;
                            text-align: center;
                            &:hover {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            &__address-container {
                margin: 2rem auto;
                & a {
                    display: block;
                    width: fit-content;
                    margin: 0.5rem auto;
                    text-decoration: none;
                    color: #444;
                    font-weight: bold;
                    font-style: normal;
                    width: fit-content;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            &__join-us-container {
                & > p {
                    font-weight: bold;
                }
                &__button {
                    display: block;
                    width: fit-content;
                    margin: 0 auto;
                    margin-top: 1rem;
                    border: 3px solid var(--tertiary-color);
                    border-radius: 25px;
                    padding: 0.5rem 7rem;
                    text-decoration: none;
                    font-size: 1.5rem;
                    color: var(--secondary-color);
                    font-weight: bold;
                    &:hover {
                        border-color: var(--secondary-color);
                        color: var(--primary-color);
                        background-color: var(--tertiary-color);
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}

.green {
    color: var(--tertiary-color)
}

.bold {
    font-weight: bold;
}

.leetchi-kitty {
    font-size: 1.2rem;
    color: var(--tertiary-color);
    &:hover {
        font-weight: bold;
    }
}

.social-link-font {
    text-decoration: none;
    font-size: 1.2rem;
    &:hover {
        font-weight: bold;
    }
}

.facebook-color {
    color: #4267B2;
}

.instagram-color {
    background: linear-gradient(to right, #833AB4, #C13584, #E1306C);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.youtube-color {
    color: rgba(255, 0, 0, 0.85);
}

.newsletter-anchor {
    text-decoration: none;
    font-weight: bold;
    color: var(--tertiary-color);
    &:hover {
        text-decoration: underline;
    }
}

.clear-float {
    clear: both;
}

.badge {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background: rgba(0,0,0,0.5);
    transition: opacity 100ms linear;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    & > p {
        margin: 0;
        color: #FFF;
        font-style: italic;
        font-weight: 400;
        line-height: 1rem;
    }
}
.badge--hidden {
    opacity: 0;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    color: var(--secondary-color);
    &:hover {
        background: var(--secondary-color);
        color: var(--primary-color);
    }
}

.owl-theme .owl-dots .owl-dot span{
    background: var(--secondary-color);
    opacity: 0.5;    
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--secondary-color);
    opacity: 1;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    padding: 0 1rem !important;
}