.header {
    &__logo-container {
        text-align: center;
        margin-top: 3rem;
        &__logo {
            width: 200px;
        }
        &__title {
            margin: 0.5rem auto 1rem auto;
            font-size: 3rem;
        }
        &__citation {
            quotes: "“" "”";
            font-size: 1.3rem;
        }
    }
    & > nav {
        margin-top: 4rem;
        margin-bottom: 2rem;
        border-top: 3px dashed green;
        border-bottom: 3px dashed green;
        & > ul {
            display: flex;
            justify-content: space-between;
            margin-left: 1rem;
            margin-right: 1rem;
            padding: 0;
            list-style-type: none;
            & > li {
                padding: 0.4rem;
                & > a {
                    text-decoration: none;
                    color: #000;
                    font-size: 1.1rem;
                    font-weight: bold;
                    padding: 0.4rem;
                    padding-bottom: 0.1rem;
                    &:hover {
                        // border-bottom: 3px dashed green;
                        // border-top: 3px dashed green;
                        color: green;
                    }
                }
            }
        }
    }
    &__random-background {
        background-image: url('../assets/img/home/dragon.jpg');
        background-size: cover;
        width: 94%;
        height: 400px;
        background-repeat: no-repeat;
        margin: 0 auto;
        margin-top: 3.5rem;
        border-radius: 5px;
    }
}

.main {
    width: 94%;
    margin: 0 auto;
    & h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
    & h3 {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    & p {
        text-align: justify;
    }
    &__presentation-article {
        &__history-section {
            margin-bottom: 3rem;
            &__event-background {
                background-image: url('../assets/img/home/event.webp');
                background-size: cover;
                width: 100%;
                height: 400px;
                background-repeat: no-repeat;
                margin: 0 auto;
                border-radius: 5px;
            }
            &__cameleon-background {
                background-image: url('../assets/img/home/cameleon.webp');
                background-size: cover;
                width: 100%;
                height: 400px;
                background-repeat: no-repeat;
                margin: 0 auto;
                border-radius: 5px;
            }
        }
        &__actions-section {
            & > p:nth-child(2) {
                font-weight: bold;
            }
        }
    }
    &__adoption-article {
        margin-top: 3rem;
        &__snake-section,
        &__turtle-section,
        &__lizard-section,
        &__other-section,
        &__event-section {
            margin-bottom: 4rem;
            &__container {
                & > a {
                    text-decoration: none;
                    display: block;
                    margin: 2rem auto;
                    width: fit-content;
                    padding: 1rem;
                    font-size: 1.4rem;
                    font-weight: bold;
                    color: green;
                    background-color: #fff;
                    border: 3px solid #000;
                    border-radius: 25px;
                    width: 40%;
                    text-align: center;
                    &:hover {
                        cursor: pointer;
                        color: #fff;
                        background-color: rgba(green, 0.8);
                    }
                }
                &__flexbox {
                    justify-content: space-around;
                    display: flex;
                    flex-wrap: wrap;
                    & > .owl-carousel img {
                        height: 300px;
                        object-fit: cover;
                        border-radius: 5px;
                    }
                    & > .pswp-gallery {
                        display: flex;
                        justify-content: space-between;
                        & > .item {
                            width: 30%;
                            height: 300px;
                            border-radius: 5px;
                            & img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    & > img {
                        width: 30%;
                        height: 300px;
                        object-fit: cover;
                        border-radius: 5px;
                        margin: 1rem auto;
                    }
                }
            }

        }
    }
    &__about-article {

    }
    &__horizontal-line-separator {
        border-bottom: 2px solid black;
        width: 60%;
        margin: 0 auto;
        margin-top: 5rem;
        margin-bottom: 4rem;
    }
}

.footer {
    margin: 4rem auto;
    &__article-container {
        display: inline-block;
        width: 45%;
        padding-left: 5%;
        & h2 {
            // text-align: center;
        }
        & ul {
            list-style-type: "\01F422";
            padding: 0;
            & > li {
                &:nth-child(odd) > a {
                    color: green;
                }
                & > a {
                    text-decoration: none;
                    color: #000;
                    font-weight: bold;
                    font-size: 1.2rem;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                & > p {
                    font-style: italic;
                }
            }
        }
    }
    &__right-block {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        text-align: center;
        &__contact-container {
            &__social-network-container {
                &__flexbox {
                    display: flex;
                    width: fit-content;
                    margin: 0 auto;
                    gap: 2rem;
                    &__item {
                        & a:first-child {
                            display: block;
                            padding: 1rem;
                        }
                        & a:last-child {
                            display: block;
                            text-decoration: none;
                            text-align: center;
                            &:hover {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            &__address-container {
                margin: 2rem auto;
                & a {
                    display: block;
                    width: fit-content;
                    margin: 0.5rem auto;
                    text-decoration: none;
                    color: #444;
                    font-weight: bold;
                    font-style: normal;
                    width: fit-content;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            &__join-us-container {
                & > p {
                    font-weight: bold;
                }
                &__button {
                    display: block;
                    width: fit-content;
                    margin: 0 auto;
                    margin-top: 1rem;
                    border: 3px solid green;
                    border-radius: 25px;
                    padding: 0.5rem 7rem;
                    text-decoration: none;
                    font-size: 1.5rem;
                    color: #000;
                    font-weight: bold;
                    &:hover {
                        border-color: #000;
                        color: #fff;
                        background-color: rgba(green, 0.9);
                    }
                }
            }
        }
    }
}

.green {
    color: green;
}

.bold {
    font-weight: bold;
}

.leetchi-kitty {
    font-size: 1.2rem;
    color: green;
    &:hover {
        font-weight: bold;
    }
}

.social-link-font {
    text-decoration: none;
    font-size: 1.2rem;
    &:hover {
        font-weight: bold;
    }
}

.facebook-color {
    color: #4267B2;
}

.instagram-color {
    background: linear-gradient(to right, #833AB4, #C13584, #E1306C);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.youtube-color {
    color: rgba(255, 0, 0, 0.85);
}

.newsletter-anchor {
    text-decoration: none;
    font-weight: bold;
    color: green;
    &:hover {
        text-decoration: underline;
    }
}