.header {
    &__logo-container {
        text-align: center;
        margin-top: 2rem;
        &__logo {
            width: 200px;
        }
        &__title {
            margin: 0.5rem auto 1rem auto;
            font-size: 3rem;
        }
        &__citation {
            quotes: "“" "”";
            font-size: 1.3rem;
        }
    }
    & > nav {
        margin-top: 4rem;
        margin-bottom: 2rem;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        & > ul {
            display: flex;
            justify-content: space-between;
            margin-left: 1rem;
            margin-right: 1rem;
            padding: 0;
            list-style-type: none;
            & > li {
                padding: 0.4rem;
                & > a {
                    text-decoration: none;
                    color: #000;
                    font-weight: bold;
                    padding: 0.4rem;
                    padding-bottom: 0.1rem;
                    &:hover {
                        border-bottom: 3px dashed green;
                    }
                }
            }
        }
    }
    &__random-background {
        background-image: url('../assets/img/home/dragon.jpg');
        background-size: cover;
        width: 94%;
        height: 400px;
        background-repeat: no-repeat;
        margin: 0 auto;
        margin-top: 3.5rem;
        border-radius: 5px;
    }
}

.main {
    width: 94%;
    margin: 0 auto;
    &__home-article {
        & > h2 {
            text-transform: uppercase;
            text-align: center;
            font-size: 2rem;
            margin-top: 4rem;
        }
        & h3 {
            text-transform: uppercase;
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
        & p {
            text-align: justify;
        }
        &__history-section {
            margin-bottom: 3rem;
            &__event-background {
                background-image: url('../assets/img/home/event.webp');
                background-size: cover;
                width: 100%;
                height: 400px;
                background-repeat: no-repeat;
                margin: 0 auto;
                border-radius: 5px;
            }
            &__cameleon-background {
                background-image: url('../assets/img/home/cameleon.webp');
                background-size: cover;
                width: 100%;
                height: 400px;
                background-repeat: no-repeat;
                margin: 0 auto;
                border-radius: 5px;
            }
        }
        &__actions-section {
            & > p:nth-child(2) {
                font-weight: bold;
            }
        }
        &__adoption-section {
            margin-top: 3rem;
            &__snake-container {
                &__button {

                }
                &__flexbox {
                    justify-content: space-around;
                    display: flex;
                    & > img {
                        width: 300px;
                        height: 300px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.green {
    color: green;
}